# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.venv/
venv/
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Env / secrets
.env
.env.*
!.env.example

# Docker
docker-compose.override.yml

# Editors/OS
.DS_Store
.idea/
.vscode/
